*~

_obuild
_build
_opam
.opam-switch
Makefile.local
docker/

learnocaml-server.byte
learn-ocaml.install

demo-repository/exercises/*.stderr
demo-repository/exercises/*.stdout
demo-repository/exercises/*.outcomes
demo-repository/exercises/*.report.*

www/

sync/

static/icons/*_black.svg
static/icons/*_dark.svg
static/icons/*_light.svg
static/icons/*_white.svg
static/fonts/Fontin*
static/file-list
static/dune

translations/*.pot
**/.merlin

tests/corpuses/*

detect-libs.*

docs/odoc.html

demo-repository/exercises/**/*.cmo
demo-repository/exercises/**/*.cmi
demo-repository/exercises/**/*.cma
demo-repository/exercises/**/*.js
