*~

_obuild
_opam
.opam-switch
Makefile.local

src/ppx-metaquot/ast_lifter.ml

learnocaml-simple-server.byte
learn-ocaml.install

src/grader/embedded_cmis.ml
src/grader/embedded_grading_cmis.ml

demo-repository/exercises/*.stderr
demo-repository/exercises/*.stdout
demo-repository/exercises/*.outcomes
demo-repository/exercises/*.report.*

www/

sync/

static/icons/*_black.svg
static/icons/*_dark.svg
static/icons/*_light.svg
static/icons/*_white.svg
static/fonts/Fontin*

translations/*.pot
