*~

_obuild
_build
_opam
.opam-switch
Makefile.local
docker/
src/ppx-metaquot/ast_lifter.ml

learnocaml-server.byte
learn-ocaml.install

src/grader/embedded_cmis.ml
src/grader/embedded_grading_cmis.ml

demo-repository/exercises/*.stderr
demo-repository/exercises/*.stdout
demo-repository/exercises/*.outcomes
demo-repository/exercises/*.report.*

www/

sync/

static/icons/*_black.svg
static/icons/*_dark.svg
static/icons/*_light.svg
static/icons/*_white.svg
static/fonts/Fontin*
static/file-list
static/dune

translations/*.pot
**/.merlin

tests/corpuses/*
