#learnocaml-select-student-info {
  border-radius: 9px;
  border-color: salmon;
  border-style: solid;
  border-width: 3px;
  background-color: lightyellow;
  vertical-align: middle;
}

span.student {
  border-radius: 5px;
  background-color: lightyellow;
  cursor: pointer;
}

div.anon-id span.student::before, div.anon-id li.student::before {
  content: attr(data-anon);
}

div.token-id span.student::before, div.token-id li.student::before {
  content: attr(data-token);
}

div.nickname-id span.student::before, div.nickname-id li.student::before {
  content: attr(data-nickname);
}
