/* Color theme */
:root {
    --bg-heavy: #fff;
    --bg-light: #fff;
    --bg-button: #626e60;
    --fg-button: #fff;
    --bg-text: #3c3c3c;
    --txt-light: white;
    --txt-dark: black;

    --bg-code: #1b3849;
    --bg-code-selected: #708b99;
    --bg-code-curline: #132733;
    --bg-code-cursor: #8ba7a7;
    --bg-code-error: #a82c1c;
    --bg-code-warning: #2b4849;
    --code-text: #f8f8f8;
    --code-constant: #ff3a83;
    --code-builtin: #9df39f;
    --code-comment: #90abb9;
    --code-function: #efe900;
    --code-operator: #1e9ae0;
    --code-string: #55e439;
    --code-type: #9df39f;
    --code-variable: #f8f8f8 /*#fb9a4b*/;
    --code-keyword: #ffaa00;
    --code-meta: #9df39f;
}

body {
  font-family: 'Fontin', 'Linux Biolinum', sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0 auto;
  background: var(--bg-light);
  height: 100vh;
}
button, select {
  font-family: 'Fontin', 'Linux Biolinum', sans-serif;
  font-size: 16px;
  line-height: 16px;
  outline: none;
}
code, pre, textarea {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 18px;
}
/* -------------------- fix browser's CSSs ------------------------ */
button > img {
  vertical-align: -10%;
}
img.icon {
  vertical-align: -15%;
}
select, button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
/* -------------------- buttons ----------------------------------- */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  grid-gap: 10px;
}

button {
  background-color: var(--bg-button);
  color: var(--fg-button);
  padding: 10px;
  border: none;
  flex: 1;
}

button::before,
button::after {
  position: absolute;
  left:0; right:0; bottom:0; top:0;
  z-index: 1010;
  content:"";
  background: transparent;
}
button:active:not([disabled])::after {
  background: var(--bg-button);
}
button:hover:not([disabled])::after {
  background: rgba(170,204,255,0.5);
}
button[disabled]::before {
  transition: background 0.5s 0.5s;
  background: rgba(128,128,128,0.4);
}
/* -------------------- font faces -------------------------------- */
@font-face {
  font-family: "Linux Biolinum";
  src: url('../fonts/LinBiolinum_R.woff') format('woff');
}
@font-face {
  font-family: "Linux Biolinum";
  font-style: italic;
  src: url('../fonts/LinBiolinum_RI.woff') format('woff');
}
@font-face {
  font-family: "Linux Biolinum";
  font-weight: bold;
  src: url('../fonts/LinBiolinum_RB.woff') format('woff');
}
@font-face {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  font-family: "Fontin";
  src: url("../fonts/Fontin-Regular.woff") format("woff"),
       url("../fonts/Fontin-Regular.ttf") format("truetype");
}
@font-face {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  font-family: "Fontin";
  font-style: italic;
  src: url("../fonts/Fontin-Italic.woff") format("woff"),
       url("../fonts/Fontin-Italic.ttf") format("truetype");
}
@font-face {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  font-family: "Fontin";
  font-weight: bold;
  src: url("../fonts/Fontin-Bold.woff") format("woff"),
       url("../fonts/Fontin-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/InconsolataGo-Regular.woff") format("woff"),
       url("../fonts/InconsolataGo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("../fonts/InconsolataGo-Bold.woff") format("woff"),
       url("../fonts/InconsolataGo-Bold.ttf") format("truetype");
}
/* -------------------- loading splash screen --------------------- */
.loading-layer {
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.loading-layer.initial {
  opacity: 1;
  z-index: 9999;
  background: #eee;
}
.loading-layer.loaded {
  animation: loaded_animation 0.5s ease-out both;
  -webkit-animation: loaded_animation 0.5s ease-out both;
}
.loading-layer.loading {
  animation: loading_animation 0.5s ease-out both;
  -webkit-animation: loading_animation 0.5s ease-out both;
  z-index: 9999;
  background: #eee;
}
.loading-layer > * {
  flex: 0 0 auto;
  text-align: center;
}
/* .loading-layer img {
 *   filter: drop-shadow(0 0 5px #888);
 * } */
.loading-layer::before {
  flex: 4 4 auto;
  content:"";
}
.loading-layer::after {
  flex: 7 7 auto;
  content:"";
}
.loading-layer .messages {
  /* text-shadow: 0 0 5px #888; */
  vertical-align: bottom;
  position: relative;
  height: 120px;
  font-size: 24px; line-height: 26px;
}
.loading-layer .messages ul {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: 0;
  padding: 0;
}
.loading-layer .messages ul li {
  list-style: none;
  opacity: 0.1;
  font-size: 16px; line-height: 18px;
}

@keyframes loaded_animation {
  0%   { opacity: 1; z-index: 9999; }
  99%  { opacity: 0; z-index: 9999; }
  100% { opacity: 0; z-index: -9999; }
}
@-webkit-keyframes loaded_animation {
  0%   { opacity: 1; z-index: 9999; }
  99%  { opacity: 0; z-index: 9999; }
  100% { opacity: 0; z-index: -9999; }
}
@-webkit-keyframes loading_animation {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@keyframes loading_animation {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
/* -------------------- common logo layout -- --------------------- */
.logo {
  font-family: 'Fontin', 'Linux Biolinum', sans-serif ;
  /* text-shadow: 5px 5px 10px rgba(0,0,0,0.4); */
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}
@media (max-width: 549px) {
  .logo {
    line-height: 28px;
    font-size: 28px;
    padding: 6px;
  }
  .logo > img {
    vertical-align: -3px;
    height: 26px;
  }
}
@media (min-width: 550px) {
  .logo {
    line-height: 44px;
    font-size: 40px;
    padding: 8px;
  }
  .logo > img {
    vertical-align: -10px;
  }
}

/* -------------------- overlay dialog boxes ----------------------- */
div.learnocaml-dialog-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0,0,0,0.8);
  color: var(--txt-light);
  z-index: 22221;
}
div.learnocaml-dialog-overlay > div::before,
div.learnocaml-dialog-overlay > div::after {
  content: "";
  flex: 1;
}
div.learnocaml-dialog-overlay > div {
  border: 3px white double;
  font-family: 'Inconsolata', monospace;
  flex: 0 0 auto;
  background: black;
  margin: auto;
  max-width: 50%;
}
div.learnocaml-dialog-overlay > div > h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
}
div.learnocaml-dialog-overlay > div > h3 + div {
  margin: 0;
  border-top: 1px solid white;
  padding: 20px;
}
div.learnocaml-dialog-overlay > div > div.buttons {
  display: flex;
  flex-direction: row;
}
div.learnocaml-dialog-overlay > div > div.buttons > button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
}
div.learnocaml-dialog-overlay > div code {
  display: block;
  margin: auto;
  background-color: #444;
  font-size: 80%;
  padding: 4px;
  border: 1px solid #666;
}
/* toplevel pane */
.toplevel-pane {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);
  /*! overflow: hidden; */
  /*! justify-content: stretch; */
}
.toplevel-pane > div.toplevel-output {
  flex: 1 1 auto;
  /*! margin: 0 0 -1px 0; */
  /*! padding: 0; */
  overflow-x: auto;
  overflow-y: scroll;
  background: var(--bg-text);
  max-height: calc(100% - 38px);
  max-width: 754px;
}
.toplevel-pane > div.toplevel-input {
  flex: 0 0 max-content;
  margin: 10px 0 0 0;
  padding: 5px;
  /*! position: relative; */
  background: #ddd;
  /*! border-top: 1px #666 solid; */
  /* box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.3) ; */
  /*! position: relative; */
}
/*
.toplevel-pane > div.toplevel-input::before {
  position: absolute;
  left: 0px; right: 0px; top: -5px; height: 5px;
  background: var(--bg-light);
  content:"";
}
*/
..toplevel-pane > div.toplevel-input > textarea:::before {
  position: absolute;
  background: transparent;
  margin: 0;
  display: block;
  padding: 5px 5px 5px 10px;
  top: 0; left: 0;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Inconsolata', monospace;
  content: "#";
}
.toplevel-pane > div.toplevel-input.disabled::after {
  transition: background 0.2s 0.5s;
  right: 0px; bottom: 0px;
  background: rgba(128,128,128,0.4);
}
.toplevel-pane > div.toplevel-input.disabled,
.toplevel-pane > div.toplevel-input.disabled > textarea {
  cursor: not-allowed;
}
.toplevel-pane > div.toplevel-input > textarea {
  z-index: 14;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Inconsolata', monospace;
  color: var(--txt-dark);
  z-index: 0;
  resize: none;
  min-height: 18px;
  display: block;
}
.toplevel-pane > div.toplevel-input:not(.disabled):hover {
  background: #c0d8ff;
}
.toplevel-pane pre {
  font-size: 18px;
  line-height: inherit;
  font-family: 'Inconsolata', monospace;
}
.toplevel-pane .toplevel-html-block,
.toplevel-pane pre.toplevel-output,
.toplevel-pane pre.toplevel-answer,
.toplevel-pane pre.toplevel-code,
.toplevel-pane pre.toplevel-error,
.toplevel-pane pre.toplevel-warning {
  margin: 0px;
  padding: 4px 2px 4px 4px;
  /*! border-left: 10px black solid; */
  white-space: pre-wrap;
  /*! margin-right: 6px; */
}
.toplevel-pane pre.toplevel-answer {
  background: var(--bg-code);
  border-left-color: #666;
}
.toplevel-pane pre.toplevel-code {
  background: var(--bg-code-curline);
  border-left-color: #444;
  border-top: 10px solid white;
  /*! width: 100%; */
}
.toplevel-pane pre.toplevel-error {
  background: var(--bg-code-error);
  border-left-color: #600;
  color: var(--txt-light);
}
.toplevel-pane pre.toplevel-warning {
  background: var(--bg-code-warning);
  border-left-color: #860;
  color: var(--txt-light);
}
.toplevel-pane .toplevel-html-block {
  background: var(--bg-text);
  border-left-color: #ccc;
  color: var(--txt-dark);
}
.toplevel-pane pre.toplevel-output {
  background: var(--bg-text);
  border-left-color: #000;
  color: var(--txt-dark);
}
.toplevel-pane pre.toplevel-output .stdout { color: #eee; }
.toplevel-pane pre.toplevel-output .stderr { color: #ecc; }

.toplevel-pane > div.toplevel-output .old {
  position: relative;
}
.toplevel-pane > div.toplevel-output .old {
  position: absolute;
  top: -1px; left: -10px; right: 0; bottom: -1px;
  background: rgba(255,255,255,0.4);
  content: "";
}

.toplevel-pane .toplevel-html-block + .toplevel-html-block,
.toplevel-pane pre.toplevel-output + pre.toplevel-output,
.toplevel-pane pre.toplevel-answer + pre.toplevel-answer,
.toplevel-pane pre.toplevel-error + pre.toplevel-error,
.toplevel-pane pre.toplevel-warning + pre.toplevel-warning,
.toplevel-pane pre.toplevel-code + pre.toplevel-code {
  border-top: none;
  margin-top: -4px;
}

.toplevel-pane div.toplevel-output > :last-child {
  position: relative;
}
.toplevel-pane div.toplevel-output > :last-child::after {
  content: "";
  background: #444;
  bottom: -7px; height: 7px; left: -10px; right: 0;
  display: block;
  position: absolute;
}

.toplevel-pane hr {
  display: none;
}

.toplevel-pane pre.toplevel-code .ref {
  color: #ca0;
  border: 2px #ca0 solid;
  border-radius: 9px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 2px
}

.toplevel-pane pre.toplevel-warning .ref {
  color: #fff;
  border: 1px #fff solid;
  border-radius: 9px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 2px;
  vertical-align: 1px;
}

.toplevel-code .comment {
  color: var(--code-comment); font-style: italic;
}
.toplevel-answer .comment {
  color: #444; font-style: italic;
}
.toplevel-code .keyword,
.toplevel-answer .keyword {
  color: var(--code-keyword); font-weight:bold;
}
.toplevel-code .constant,
.toplevel-answer .constant {
  color: var(--code-constant);
}
.toplevel-code .string,
.toplevel-answer .string {
  color: var(--code-string);
}
.toplevel-code .function,
.toplevel-answer .function {
  color: var(--code-function);
}
.toplevel-code .type,
.toplevel-answer .type {
  color: var(--code-type);
}
.toplevel-code .operator,
.toplevel-answer .operator {
  color: var(--code-operator);
}
.toplevel-code .meta,
.toplevel-answer .meta {
  color: var(--code-meta);
}
.toplevel-code .variable,
.toplevel-answer .variable {
  color: var(--code-text);
}
.toplevel-code .text,
.toplevel-answer .text {
  color: var(--code-text);
}
.toplevel-code .error,
.toplevel-answer .error {
  background-color: var(--bg-code-error);
}
.toplevel-code .toplevel-hilighted-error,
.toplevel-answer .toplevel-hilighted-error {
  border-bottom: 2px #a00 solid;
}
.toplevel-code .toplevel-hilighted-warning,
.toplevel-answer .toplevel-hilighted-warning {
  border-bottom: 2px #ca0 solid;
}

.toplevel-pane > div.dialog-container {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background: rgba(0,0,0,0.6) ;
  display: flex;
  flex-direction: column;
  /* box-shadow: inset 3px 3px 8px 2px rgba(0,0,0,0.3); */
}

.toplevel-pane > div.dialog-container > div.dialog {
  flex: 0 0 auto;
  text-align: center;
  margin: 0 10% 0 10%;
  color: #000;
  /* box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.3); */
  border: 1px #ccc solid;
}
.toplevel-pane > div.dialog-container > div.dialog > * {
  padding: 10px;
  margin: 0;
  text-align: center;
  background: rgba(255,255,255,0.8);
  color: #000;
}
.toplevel-pane > div.dialog-container > div.dialog > h1:first-child {
  background: #555;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin: 0;
}
.toplevel-pane > div.dialog-container > div.dialog > .buttons:last-child {
  background: rgba(255,255,255,0.8);
  display: flex;
  padding: 0;
  flex-direction: row;
  background: #ffc;
  border-top: 1px #666 solid;
  color: #000;
}
.toplevel-pane > div.dialog-container > div.dialog > .buttons:last-child > * {
  flex: 1;
  border: none;
  background: none;
  padding: 10px;
  font-size: 18px;
  line-height: 18px;
}
.toplevel-pane > div.dialog-container > div.dialog > .buttons:last-child > :not(:first-child){
  border-left: 1px #666 solid;
}

.toplevel-pane > div.dialog-container::after,
.toplevel-pane > div.dialog-container::before {
  flex: 1;
  content: "";
}

.toplevel-pane pre.toplevel-code::before {
  color: white;
  content: "# ";
}
/* -------------------- loading splash screen --------------------- */
#learnocaml-exo-loading {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
#learnocaml-exo-loading.loading,
#learnocaml-exo-loading.loaded {
  background: rgba(200,200,200,0.9);
}

/* -------------------- pane layout  ------------------------------ */
#learnocaml-exo-toolbar {
  height: 80px;
  overflow: hidden;
  width: 100%;
  display: flex;
}

#learnocaml-exo-tabs {
  /*! text-align: center; */
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 10px;
  right: 0;
  /*! display: grid; */
  overflow: hidden;
  grid-template-columns: 1fr 800px fit-content(80em) 1fr;
  grid-gap: 10px;
  display: flex;
  flex-direction: row;
}

#learnocaml-exo-tabs > div.placeholder-column {
  background-color: transparent;
  flex: 1;
}

#learnocaml-exo-tabs > div {
  background-color: var(--bg-heavy);
  max-height: 100%;
  /*! font-family: 'Inconsolata', monospace; */
  flex: 0 0 780px;
}

#learnocaml-exo-tab-editor {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  resize: horizontal;
  /*! flex: 0 0 754px; */
}

#learnocaml-exo-tab-toplevel {
}

#learnocaml-exo-tab-editor > .pane {
  width: 100%;
  height: calc(100% - 55px);
  background: var(--bg-code);
  color: var(--code-text);
  /*! z-index: 1002; */
}
/*
#learnocaml-exo-tab-editor > .buttons {
  /* position: absolute;
   * left: 0; bottom: 0px; width: 100%; */ /*! height: 40px; */
  /*! background: var(--bg-button); */
  /*! color: var(--fg-button); */
  /*! line-height: 40px; */
  /*! display: flex; */
  /*! flex-direction: row; */
  /* z-index: 1003; */
/*}*/
/*
#learnocaml-exo-tab-editor > .buttons::after {
  position: absolute;
  bottom: 40px; left: 0px; height: 5px; width: 100%;
  background: rgba(0,0,0,0.4);
  content:"";
}
*/

/* #learnocaml-exo-tab-editor > .buttons > button {
 *   flex: 1;
 *   background: none;
 *   border: none;
 *   color: #eee;
 *   /\* text-shadow: 2px 2px 5px rgba(0,0,0,0.4); *\/
 *   border-top: 1px #eee solid;
 *   position: relative;
 *   padding: 0;
 * } */


/* -------------------- ACE overriding ---------------------------- */
#learnocaml-exo-editor-pane {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
#learnocaml-exo-editor-pane .ace_gutter {
  background: linear-gradient(to left, transparent 0, transparent 8px, #ccc 8px, #ccc 9px, #444 9px) ;
  color: #ccc;
}
#learnocaml-exo-editor-pane .ace_gutter-active-line {
  background: linear-gradient(to left, transparent 0, transparent 8px, #ccc 8px, #ccc 9px, #678 9px) ;
  color: #888;
}
#learnocaml-exo-editor-pane .ace_gutter-cell {
  padding: 0 14px 0 0;
}
#learnocaml-exo-editor-pane .ace_gutter-cell.ace_warning {
  background: linear-gradient(to right, #980 0, #980 4px, transparent 4px, transparent 80%) ;
}
#learnocaml-exo-editor-pane .ace_gutter-cell.ace_error {
  background: linear-gradient(to right, #900 0, #900 4px, transparent 4px, transparent 80%) ;
}
#learnocaml-exo-editor-pane .ace_comment { color: var(--code-comment);
                                           font-style: italic; }
#learnocaml-exo-editor-pane .ace_keyword { color: var(--code-keyword);
                                           font-weight:bold; }
#learnocaml-exo-editor-pane .ace_constant { color: var(--code-constant); }
#learnocaml-exo-editor-pane .ace_string { color: var(--code-string); }
#learnocaml-exo-editor-pane .ace_function { color: var(--code-function); }
#learnocaml-exo-editor-pane .ace_type { color: var(--code-type); }
#learnocaml-exo-editor-pane .ace_operator { color: var(--code-operator); }
#learnocaml-exo-editor-pane .ace_meta { color: var(--code-meta); }
#learnocaml-exo-editor-pane .ace_variable { color: var(--code-variable); }
#learnocaml-exo-editor-pane .ace_text { color: var(--code-text); }
#learnocaml-exo-editor-pane .error {
  border-bottom: 2px #b00 solid;
  position: absolute;
}

#learnocaml-exo-editor-pane .warning {
  border-bottom: 2px #ca0 solid;
  position: absolute;
}

#learnocaml-exo-editor-pane .ace_selection { background: #e80; opacity: 0.4; }
#learnocaml-exo-editor-pane .ace_active-line { background: #acf; opacity: 0.2; }
#learnocaml-exo-editor-pane .ace_selected-word { background: #e80; opacity: 0.2; }

#learnocaml-exo-editor-pane.ocaml-check-success::after,
#learnocaml-exo-editor-pane.ocaml-check-warn::after,
#learnocaml-exo-editor-pane.ocaml-check-error::after {
  animation: 1s check_status_animation;
  animation-fill-mode: forwards;
  position: absolute;
  margin: -100px 0 0 0;
  top: 50%;
  text-align: center;
  font-size: 200px;
  line-height: 200px;
  width: 100%;
}

#learnocaml-exo-editor-pane.ocaml-check-success::after {
  content: "✓";
  color: #0a0;
  text-shadow: 0px 0px 40px #6F6;
}

#learnocaml-exo-editor-pane.ocaml-check-warn::after {
  content: "⚠";
  color: #ec0;
  text-shadow: 0px 0px 40px #Fe6;
}

#learnocaml-exo-editor-pane.ocaml-check-error::after {
  content: "❌";
  color: #b00;
  text-shadow: 0px 0px 40px #F66;
}
