# Note: you may want to update this file and deploy-tags.yml at once
name: Publish dev (Docker image of master)
on:
  push:
    branches:
      - master
  schedule:
    # deploy master every Saturday at 08:00 UTC
    - cron: '0 8 * * 6'
jobs:
  push_server:
    name: Push learn-ocaml image to Docker Hub
    if: ${{ github.repository == 'ocaml-sf/learn-ocaml' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          always_pull: true
          add_git_labels: true
          labels: "org.opencontainers.image.version=master"
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ocamlsf/learn-ocaml
          tags: master
  push_client:
    name: Push learn-ocaml-client image to Docker Hub
    if: ${{ github.repository == 'ocaml-sf/learn-ocaml' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          always_pull: true
          add_git_labels: true
          labels: "org.opencontainers.image.version=master"
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ocamlsf/learn-ocaml-client
          target: client
          tags: master
  push_emacs_client:
    name: Push emacs-learn-ocaml-client image to Docker Hub
    if: ${{ github.repository == 'ocaml-sf/learn-ocaml' }}
    needs: push_client
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Push to Docker Hub
        # https://github.com/docker/build-push-action/tree/releases/v1#readme
        uses: docker/build-push-action@v1
        with:
          path: ci/docker-emacs-learn-ocaml-client
          build_args: "base=ocamlsf/learn-ocaml-client,version=master"
          always_pull: true
          add_git_labels: true
          labels: "org.opencontainers.image.version=master"
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ocamlsf/emacs-learn-ocaml-client
          tags: master
