name: Test OPAM Publish
# See also release.yml
# and https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
on:
  pull_request:
    branches:
      - "master"
  # or called from workflow "Release"

jobs:
  call-opam-publish:
    uses: ./.github/workflows/opam-publish.yml
    with:
      # release: "false" # by default
      tag_name: "v0.15.0"
      body: |
        ## [0.15.0](https://github.com/ocaml-sf/learn-ocaml/compare/v0.14.1...v0.15.0) (2023-08-23)
        
        ### Features
        
        * **partition-view:** Add a selector to show (tokens, nicks, or anon IDs) (`#540`) ([58b3644](https://github.com/ocaml-sf/learn-ocaml/commit/58b3644a6d5a3f43cf8d7cb21ebbe40b588f176f)), closes `#528`
        * etc.
    secrets:
      OPAM_RELEASE: ${{ secrets.OPAM_RELEASE }}
